@import "node_modules/bootstrap/scss/bootstrap";
@import "fonts";

$font-size: (
    xl: 24px,
    md: 18px,
    sm: 14px
);
$dark-green: #0B4141;
$darker-green: #0B1F1F;
$accent-color: #FFCCBC;
$light-gray: #E5E5E5;


$comments_grid_column: (
    lg: 3,
    md: 2,
    sm: 1
);

html, body {
    font-size: map-get($font-size, 'xl');
    color: $dark-green;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 5rem;
    font-family: 'Motter Corpus', sans-serif;
    line-height: 5.3333rem;
}

h2 {
    font-size: 3.3333rem;
    font-family: 'Motter Corpus', sans-serif;
    line-height: 4rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2.8333rem;
    font-weight: 900;
    line-height: 3rem;
    margin-top: 1.3333rem;
    margin-bottom: 1.3333rem;
}

a {
    color: $dark-green;
    font-size: 0.75rem;
    
    &:hover {
        color: $dark-green;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

p {
    line-height: 1.3333rem;
    margin-bottom: 2rem;
}

b {
    font-weight: 800;
}

//**************
.section {
    padding: 100px 0;
}

.text-accent {
    color: $accent-color;
}

.bg-accent {
    background-color: $accent-color;
}

.bg-dark-green {
    background-color: $dark-green;
}

.block-even-odd {
    .row {
        align-items: center;
        
        &:not(:last-child) {
            margin-bottom: 120px;
        }
        
        &:nth-child(even) {
            [class*='col']:first-child {
                order: 2;
                text-align: right;
            }
            
            [class*='col']:last-child {
                order: 1;
            }
        }
    }
}

.font-family-motter {
    font-family: 'Motter Corpus', sans-serif;
}

.btn {
    border-radius: 124px;
    padding: 12px 45px;
    
    &.btn-border {
        border: 2px solid currentColor;
    }
    
    &.btn-border-bottom-transparent {
        border-bottom-color: transparent;
    }
    
    &:hover {
        color: $accent-color;
        background-color: $dark-green;
        
        &.bg-dark-green, &.text-accent, &.btn-border-bottom-transparent {
            background-color: $accent-color;
            color: $dark-green;
        }
        
        &.btn-border-bottom-transparent {
            border-bottom-color: currentColor;
        }
    }
    
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(255, 204, 188, 0.5);
        
        &.bg-dark-green {
            box-shadow: 0 0 0 0.2rem rgba(11, 65, 65, 0.5);
        }
    }
}

//*****************

header {
    .navbar {
        &-toggler {
            border: $accent-color solid 2px;
            
            &-icon {
                position: relative;
                
                &::before, &::after {
                    content: '';
                    position: absolute;
                    width: 1.35rem;
                    height: 2px;
                    background-color: $accent-color;
                    top: .5rem;
                    transition: .5s;
                }
                
                &::before {
                    transform-origin: left center;
                    transform: rotate(45deg);
                    left: 0;
                }
                
                &::after {
                    transform-origin: right center;
                    transform: rotate(-45deg);
                    right: 0;
                }
            }
            
            &:not(.collapsed) {
                .navbar-toggler-icon {
                    &::before {
                        left: .45rem
                    }
                    
                    &::after {
                        right: .45rem;
                    }
                }
            }
            
            //}
            
            //:not(.collapsed) {
            //    &-icon {
            //        &::before {
            //            left: 20px;
            //        }
            //
            //        &::after {
            //            right: 20px;
            //        }
            //    }
            //}
        }
        
        &-brand {
            font-size: 26px;
            line-height: 31px;
        }
        
        &-nav {
            li.nav-item {
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
                
                a.nav-link {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    display: inline-block;
                    padding: 0.75rem 1.5rem;
                }
                
                &.active a {
                    border-bottom: 2px solid currentColor;
                }
            }
        }
    }
    
    .form-download {
        button {
            margin-left: 36px;
        }
        
        @include media-breakpoint-down(md) {
            button {
                margin: 0;
            }
        }
        
    }
}

.section_1 {
    padding: 120px 0 290px;
    position: relative;
    
    img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
    }
    
    h1 span:last-child {
        position: relative;
        z-index: 1;
        background: linear-gradient(to bottom, $dark-green 50%, $darker-green 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.section_2 {
    padding: 195px 0;
    background-image: url("../images/sec_2_bg.png");
    background-position: center;
}

.section_3 {
    padding: 120px 0 85px;
}

.section_4 {
    padding: 120px 0 96px;
    
    .btn-link {
        width: auto;
        color: currentColor;
        
        &:focus {
        }
    }
}

.section_5 {
    padding: 120px 0 430px;
    background: rgba(245, 245, 245, 0.6) url("./../images/sec_5_horses.png") center bottom no-repeat;
    background-size: 100%;
}

.section_6 {
    padding: 65px 0 170px;
    background: linear-gradient(180deg, #FFCCBC 0%, rgba(255, 204, 188, 0) 100%),
    url("./../images/sec_6_bg.png") center;
    
    h3 {
        margin-bottom: 2.6666rem;
    }
    
    .comments {
        align-content: flex-start;
        font-size: 13px;
        
        p {
            line-height: 18px;
            margin-bottom: 16px;
        }
        
        .item {
            align-self: flex-start;
            width: calc((100% - 48px) / 3);
            padding: 20px;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 8px;
            backdrop-filter: blur(12px);
            margin-bottom: 1rem;
            
            &-author {
                .item-author-image img {
                    margin-right: .5rem;
                    border-radius: 50%;
                    min-width: 48px;
                }
                
                b {
                    font-size: 16px;
                }
                
                p {
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }
}

.section_7 {
    padding-bottom: 0;
    background: url("./../images/sec_7_bg_confettis.png") top left no-repeat,
    url("./../images/sec_7_bg_light.png") bottom right no-repeat;
    
    .row:first-child {
        margin-bottom: 96px;
    }
}

footer.section {
    padding: 236px 0 100px;
    
    a {
        display: flex;
        color: $accent-color;
        text-align: left;
    }
    
    p {
        margin: 0;
    }
    
    .footer {
        &-download {
            margin-top: 50px;
            margin-bottom: 110px;
            
            a {
                padding: 1rem 2rem;
                margin: 0 25px;
            }
        }
        
        &-bottom {
            h4 {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 8px;
            }
            
            p {
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    
    br {
        display: none;
    }
    
    html, body {
        font-size: map-get($font-size, 'xl');
    }
    
    .section {
        padding: 50px 0;
        
        &_1 {
            
            padding: 80px 0 250px;
        }
        
        &_2 {
            padding: 140px 0;
        }
        
        &_3 {
            padding: 80px 0 35px;
        }
        
        &_4 {
            padding: 80px 0 40px;
        }
        
        &_5 {
            padding: 80px 0 300px;
            background-size: auto 250px;
        }
        
        &_6 {
            padding-bottom: 60px;
            
            .comments .item {
                width: calc((100% - map-get($font-size, 'md') * (map-get($comments_grid_column, 'md') - 1)) / map-get($comments_grid_column, 'md'));
                //    calc( (100% - fontSize * (col - 1)) / col )
            }
        }
        
        &_7 {
            .row:first-child {
                margin-bottom: 40px;
            }
        }
    }
    footer.section {
        padding: 110px 0 50px;
    }
}

@include media-breakpoint-down(sm) {
    html, body {
        font-size: map-get($font-size, 'sm');
    }
    
    .section {
        &_2 {
            padding: 40px 0;
        }
        
        &_3 {
            padding: 40px 0 15px;
        }
        
        &_4 {
            padding: 40px 0 20px;
        }
        
        &_6 {
            .comments .item {
                width: calc((100% - map-get($font-size, 'md') * (map-get($comments_grid_column, 'sm') - 1)) / map-get($comments_grid_column, 'sm'));
            }
        }
    }
    
    .block-even-odd {
        .row {
            &:not(:last-child) {
                margin-bottom: 60px;
            }
            
            &:nth-child(odd) {
                [class*='col']:first-child {
                    order: 2;
                }
                
                [class*='col']:last-child {
                    order: 1;
                }
            }
        }
    }
}
