@import "node_modules/bootstrap/scss/bootstrap";
@import "fonts";

$font-size: 24px;
$dark-green: #0B4141;
$darker-green: #0B1F1F;
$accent-color: #FFCCBC;
$light-gray: #E5E5E5;

html, body {
    font-size: $font-size;
    color: $dark-green;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 5rem;
    font-family: 'Motter Corpus', sans-serif;
    line-height: 5.3333rem;
}

h2 {
    font-size: 3.3333rem;
    font-family: 'Motter Corpus', sans-serif;
    line-height: 4rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2.8333rem;
    font-weight: 900;
    line-height: 3rem;
    margin-top: 1.3333rem;
    margin-bottom: 1.3333rem;
}

a {
    color: $dark-green;
    font-size: 0.75rem;
    
    &:hover {
        color: $dark-green;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

p {
    line-height: 1.3333rem;
    margin-bottom: 2rem;
}

b {
    font-weight: 800;
}

//**************
.section {
    padding: 100px 0;
}

.text-accent {
    color: $accent-color;
}

.bg-accent {
    background-color: $accent-color;
}

.bg-dark-green {
    background-color: $dark-green;
}

.block-even-odd {
    .row {
        align-items: center;
        
        &:not(:last-child) {
            margin-bottom: 120px;
        }
        
        &:nth-child(even) {
            [class*='col']:first-child {
                order: 2;
                text-align: right;
            }
            
            [class*='col']:last-child {
                order: 1;
            }
        }
    }
}

.font-family-motter {
    font-family: 'Motter Corpus', sans-serif;
}

.btn {
    border-radius: 124px;
    padding: 12px 45px;
    
    &.btn-border {
        border: 2px solid currentColor;
    }
    
    &.btn-border-bottom-no {
        border-bottom-color: transparent;
    }
}

//*****************

header {
    .navbar {
        &-brand {
            font-size: 26px;
            line-height: 31px;
        }
        
        &-nav {
            li.nav-item {
                a {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                }
                
                &.active a {
                    border-bottom: 2px solid currentColor;
                }
            }
        }
    }
    
    .form-download {
        button {
            margin-left: 36px;
        }
    }
}

.section_1 {
    padding: 120px 0 290px;
    position: relative;
    
    img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
    }
    
    h1 span:last-child {
        position: relative;
        z-index: 1;
        background: linear-gradient(to bottom, $dark-green 50%, $darker-green 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.section_2 {
    padding: 195px 0;
    background-image: url("../images/sec_2_bg.png");
    background-position: center;
}

.section_3 {
    padding: 120px 0 85px;
}

.section_4 {
    padding: 120px 0 96px;
}

.section_5 {
    padding: 120px 0 430px;
    background: rgba(245, 245, 245, 0.6) url("./../images/sec_5_horses.png") center bottom no-repeat;
    background-size: 100%;
}

.section_6 {
    padding: 65px 0 170px;
    background: linear-gradient(180deg, #FFCCBC 0%, rgba(255, 204, 188, 0) 100%),
    url("./../images/sec_6_bg.png") center;
    
    h3 {
        margin-bottom: 2.6666rem;
    }
    
    .comments {
        align-content: flex-start;
        font-size: 13px;
        
        p {
            line-height: 18px;
            margin-bottom: 16px;
        }
        
        .item {
            align-self: flex-start;
            width: calc((100% - 48px) / 3);
            padding: 20px;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 8px;
            backdrop-filter: blur(12px);
            margin-bottom: 1rem;
            
            &-author {
                .item-author-image img {
                    margin-right: .5rem;
                    border-radius: 50%;
                    min-width: 48px;
                }
                
                b {
                    font-size: 16px;
                }
                
                p {
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }
}

.section_7 {
    padding-bottom: 0;
    background: url("./../images/sec_7_bg_confettis.png") top left no-repeat,
    url("./../images/sec_7_bg_light.png") bottom right no-repeat;
    
    .row:first-child {
        margin-bottom: 96px;
    }
}

footer.section {
    padding: 236px 0 100px;
    
    a {
        display: flex;
        color: $accent-color;
        text-align: left;
    }
    
    p {
        margin: 0;
    }
    
    .footer {
        &-download {
            margin-top: 50px;
            margin-bottom: 110px;
            
            a {
                padding: 1rem 2rem;
                margin: 0 25px;
            }
        }
        
        &-bottom {
            h4 {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 8px;
            }
            
            p {
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
            }
        }
    }
}
